* {
  margin: 0;
  padding: 0;
  font-family: "cairo", sans serif;
}

header {
  min-height: 60vh;
  width: 100%;
  position: relative;
}

.containerr {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  position: relative;
  box-shadow: 0 0 10px #ddd;
}

.logo {
  color: #2196f3;
  font-size: 33px;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 75px;
  justify-content: center;
  text-decoration: none;
}

nav {
  display: flex;
  padding: 2% 8%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #000;
}

.text-box {
  width: 90%;
  position: absolute;
  top: 382%;
  left: 50%;
  transform: translate(-50% , -50%);
  text-align: center;
}

.elmy,
.adby {
  color: #2196f3;
  font-weight: bold;
  cursor: pointer;
}

p.first-tirm {
  margin-top: 15px;
  font-size: 15px;
  font-weight: bold;
}



.fa-hand-peace {
  color: #2196f3;
}

nav .fa {
  display: none;
}
.fa-bars {
  color: #2196f3 !important;
}

.active {
  color: #000;
}

@media (max-width: 700px) {
.text-box h1 {
  font-size: 24px;  
  margin-bottom: 22px;
}

  .nav-links ul li {
    display: block;
    margin-bottom: 20px;
    margin-top: 15px;
  }
  .nav-links {
    position: fixed;
    background: #2196f3;
    height: 100%;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  .nav-links ul li a{
    color: rgb(255, 255, 255);
    padding-left: 100px;
    text-decoration: none;
    font-size: 18px;
    font-family: system-ui;
    transition: 0.6s;
  }
  .nav-links ul li a.active {
    color: #000;
  }
  .nav-links ul li a:hover {
    color: #000;
  }
  nav .fa {
    display: block;
    color: rgb(253, 253, 253);
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
}


